<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Calculations</title>
    </head>
    <body>

        <ul>
            <li th:each="calc : ${calculations}">
                <span th:text="${calc.content}">3</span> (<span th:text="${calc.id}">3</span>):  <span th:text="${calc.status}">processing</span> <span th:text="${calc.calculationResult}">42</span>
            </li>
        </ul>

        <form th:action="@{/calculations}" method="POST">
            <input type="text" value="content"/>
            <input type="submit" value="Create new calculation"/>            
        </form>
    </body>
</html>
