<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Calculation-e</title>
    </head>
    <body>

        <ul>
            <li><span th:text="${calculation.content}">decrypting secrets</span> (<span th:text="${calculation.id}">3</span>) <span th:text="${calculation.status}">processing</span> <span th:text="${calculation.calculationResult}">42</span></li>
        </ul>

        <a th:href="@{/calculations}">Back</a>
    </body>
</html>
