<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Supersite</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <div th:replace="fragments/layout :: section"></div>

        <main>
            <p>What site would you want to see listed?</p>
        </main>

        <form th:action="@{/index}" method="POST">
            <input type="text" name="site"/>
            <input type="submit" value="Suggest! (no guarantees)"/>
        </form>
        
        <div th:replace="fragments/layout :: footer"></div>

    </body>
</html>
