<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Lorem ipsum</title>
    </head>
    <body>

        <div th:fragment="navigation">
            <h3>Navigation:</h3>
            <ul>
                <li>
                    <a th:href="@{/locations}">Locations</a>
                </li>
            </ul>
        </div>

        <div th:fragment="locationForm">

            <h3>Add a new location:</h3>

            <form th:action="@{/locations}" method="POST">
                <p>Location name:</p>
                <input type="text" name="name"/>
                <p>Latitude (e.g. 60.204474)</p>
                <input type="text" name="latitude" value="60.204474"/>
                <p>Longitude (e.g. 24.962289)</p>
                <input type="text" name="longitude" value="24.962289"/>
                <p>&nbsp;</p>
                <input type="submit" value="Add location"/>            
            </form>
        </div>
    </body>
</html>
