<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>
    <body>
        <h1>Html Practice Thymeleaf</h1>
        
        <p>Hello world!</p>
        
        <ul>
            <li>Lists can be created using ul elements that contains li elements</li>  
            <li>Ordered lists are done with ol elements that contains li elements</li>
        </ul>
        
        <h2>Some Useful HTML-elements</h2>
        <table>
            <tr>
                <td>Element</td>
                <td>Purpose</td>
            </tr>
            <tr>
                <td>table</td>
                <td>creates a table</td>
            </tr>
            <tr>
                <td>tr</td>
                <td>creates a row within a table</td>
            </tr>
            <tr>
                <td>td</td>
                <td>creates a cell within a row</td>
            </tr>
        </table>
    </body>
</html>