<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>

        <main>
            <section class="container">
                <p>&nbsp;</p>
                <h2>Hello world</h2>
                <p>Below, here will be a Bootstrap-styled form.</p>
            </section>

            <section class="container">
                <form class="form-inline" th:action="@{/form}" method="POST">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="name"/>
                    <button type="submit" class="btn btn-secondary mb-2">Submit!</button>
                </form>
            </section>
        </main>

    </body>
</html>
