<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>Layout</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>

        <main>
            <section class="container">
                <p>&nbsp;</p>
                <h2>Hello world</h2>
                <p>Below, there is an old-school form.</p>
            </section>

            <section class="container">
                <form th:action="@{/form}" method="POST">
                    <input type="text" name="name"/>
                    <input type="submit" value="Submit!"/>
                </form>
            </section>
        </main>

    </body>
</html>
