<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}">The story</title>
    </head>

    <body>
        <h1 th:text="${title}">The story</h1>

        <p>Once upon a time, there was a person called 
            <span th:text="${person}">person</span>, who liked to play. As 
            <span th:text="${person}">person</span> grew older, a small box was
            uncovered from the basement of an old abandoned house. The box had 
            the text <code>Commodore 64</code> written on it --
            <span th:text="${person}">person</span> found the box very 
            interesting, but did not know what to do with it.</p>

        <p>To unravel the mystery, <span th:text="${person}">person</span> 
            sought out the owners of the house, and asked them about the box. 
            They told that it is a sacred relic from ancient times, when people 
            could conjure things with their hands.</p>

        <p>"<em>Why have I not heard about this before</em>", asked 
            <span th:text="${person}">person</span>. "<em>The things that the
                owners of such relics have conjured are all around us, but we 
                do not see them anymore as the people from ancient times used 
                to see them</em>", answered one of the owners. "<em>They are 
                as much a part of us, as  we are a part of them, hidden in our 
                midst</em>", continued the other.</p>

        <p>How can something be hidden, but still be there, 
            <span th:text="${person}">person</span> could not understand. And 
            so, the journey began.</p>
    </body>
</html>
